body {
  color: #fff;
  background-color: #000;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1.5em;
  text-align: center;
  margin: 0%; }
  body .bodygrilla {
    margin: 5px; }
    body .bodygrilla h1 {
      background-color: #046B92; }
    body .bodygrilla .subtitle {
      margin: 1.5em; }
    body .bodygrilla a {
      color: #fff; }
    body .bodygrilla #verEscalas {
      color: #fff;
      background-color: #02686f; }
    body .bodygrilla #resultado {
      color: #fff;
      background-color: #02686f;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    body .bodygrilla .bordertop {
      border-top: 1px solid #fff; }
